.custom-navbar {
    background-color: #007bff; /* Adjust this color for your desired shade of blue */
}

.custom-nav {
    max-width: 66.6667%;
    justify-content: space-between;
}

.nav-link {
    color: rgb(0, 0, 0) !important; /* White text color */
    font-weight: bold; /* Bold text */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
    color: #fcb700 !important; /* Color changes to #fcb700 on hover */
}

/* Styles for smaller screens */
@media (max-width: 992px) {
    .custom-navbar {
        background-color: rgba(0, 123, 255, 0.9); /* Slightly transparent blue */
    }

    .custom-nav {
        flex-direction: column; /* Stack the nav items vertically */
        max-width: 100%; /* Full width for smaller screens */
    }

    .nav-link {
        padding: 10px 0; /* Add some padding for vertical spacing */
    }
}
